#sp_metabox { position: relative; }
#sp_metabox .media, #sp_metabox .bd { overflow: hidden; _overflow: visible; *overflow: visible; zoom: 1; }
#sp_metabox .media .img { float: left; margin-right: 8px; display: block; }
#sp_metabox .media .img img, #sp_metabox .post .img img { display: block; padding: 0; margin: 0; }
#sp_metabox .media .img_right { float: right; margin-left: 10px; margin-right: 0; }
#sp_metabox .media_small .img { width: 50px; height: 50px; overflow: hidden; text-align: center; }
#sp_metabox .inside { padding: 0; }
#sp_metabox .thumb { width: 25px; height: 25px; border-bottom: 4px solid #333; }
#sp_metabox .thumb.facebook { border-bottom: 4px solid #3B5999; }
#sp_metabox .thumb.twitter { border-bottom: 4px solid #44CCF6; }
#sp_metabox .thumb.googleplus { border-bottom: 4px solid #6EC41B; }
#sp_metabox .thumb.linkedin { border-bottom: 4px solid #027EBC; }
#sp_metabox .buttons { padding: 10px 10px 0px; }
#sp_metabox .updates { position: relative; }
#sp_metabox .editor textarea { width: 99%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 80px; }
#sp_metabox .delete { display: inline-block; padding: 2px; color: red; }
#sp_metabox .delete:hover { background-color: red; color: white; border: none; text-decoration: none; }
#sp_metabox .editor .date { padding: 2px 0 5px 0; }
#sp_metabox .editor { position: relative; }
#sp_metabox .calendar-container { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }
#sp_metabox .calendar { line-height: 34px; padding: 5px 10px 0px; border-top: 1px solid #ccc; background: #F8F8F8; position: absolute; left: 0; bottom: -250px; right: 0; 
-webkit-transition: bottom 0.3s ease-in;
-moz-transition: bottom 0.3s ease-in;
-ms-transition: bottom 0.3s ease-in;
-o-transition: bottom 0.3s ease-in;
transition: bottom 0.3s ease-in;
}
#sp_metabox .onion { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.60); }
#sp_metabox.show_calendar .calendar { bottom: 0; }
#sp_metabox  b { color: #777; }
#sp_metabox .pull-right { float: right; }
#sp_metabox .profiles { padding: 0; margin: 0; list-style-type: none; }
#sp_metabox .profiles .profile { position: relative; padding: 0; margin: 0; display: inline-block; margin: 0 7px 4px 0; 
-webkit-transition: top 0.1s ease-in;
-moz-transition: top 0.1s ease-in;
-ms-transition: top 0.1s ease-in;
-o-transition: top 0.1s ease-in;
transition: top 0.1s ease-in;
}
#sp_metabox .profiles .profile:hover { top: -4px; }
#sp_metabox .profiles .profile img { border-bottom: 4px solid #ccc; }
#sp_metabox .profiles .profile.facebook img { border-bottom: 4px solid #3B5999; }
#sp_metabox .profiles .profile.twitter img { border-bottom: 4px solid #44CCF6; }
#sp_metabox .profiles .profile.googleplus img { border-bottom: 4px solid #6EC41B; }
#sp_metabox .profiles .profile.linkedin img { border-bottom: 4px solid #027EBC; }
#sp_metabox .combo-button { position: relative; display: inline-block; }
#sp_metabox .dropdown { display: none; z-index: 1000000; position: absolute; top: 27px; width: 150px; background-color: white; border: 1px solid #ccc; border-radius: 2px; list-style-type: none; padding: 0; margin: 0; }
#sp_metabox .dropdown .item { list-style-type: none; padding: 0; margin: 0; }
#sp_metabox .dropdown .item > a { text-decoration: none; padding: 3px 8px; display: block; }
#sp_metabox .dropdown .item > a:hover { background-color: #eee; }